html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  width: 1600px;
  margin: 0 auto;
}

.center {
  margin: 0 230px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.header {
  background: #222222;
  height: 75px;
}

.header__container {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-logo {
  margin-left: 230px;
}

.loupe {
  margin-left: 40px;
}

.main-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
  font-family: "Lato", sans-serif;
}

.main-navi__item {
  padding-top: 10px;
}

.main-navi__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 15px;
  color: #F8F8F8;
  text-decoration: none;
}

.main-navi__link:hover {
  color: #f16d7f;
  cursor: pointer;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 230px;
}

.header-items__list {
  padding-left: 34px;
  position: relative;
}

.cart-item::before {
  content: "5";
  position: absolute;
  left: 65px;
  top: -6px;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1E4E6;
}

.name .nav-brand-container {
  position: absolute;
  left: 1367px;
  top: 0;
  width: 232px;
  height: 764px;
  background-color: #fff;
  padding-left: 33px;
  -webkit-box-shadow: -15px 9px 21px 0px rgba(117, 117, 117, 0.33);
          box-shadow: -15px 9px 21px 0px rgba(117, 117, 117, 0.33);
}

.name .nav-brand-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  padding-top: 37px;
  padding-bottom: 24px;
}

.name .nav-brand-header span {
  position: absolute;
  font-size: 24px;
  color: #5d5d5d;
  top: 16px;
  left: 203px;
}

.name .nav-brand {
  font-family: "Lato", sans-serif;
}

.name .nav-brand__item {
  padding-bottom: 20px;
}

.name .nav-brand__item-link {
  text-decoration: none;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.name .nav-brand .nav-brand__clothes {
  text-indent: 22px;
}

.name .nav-brand .nav-brand__clothes-item {
  padding-top: 12px;
}

.name .nav-brand .nav-brand__clothes-link {
  text-decoration: none;
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.name .nav-brand .nav-brand__clothes-link:hover {
  color: #f16d7f;
}

.name .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name .brand__content {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-left: 64px;
}

.name .brand__content-header {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.name .brand__content-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}

.name .brand__content-text span {
  color: #f16d7f;
}

.stock {
  margin-top: 64px;
}

.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stock__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock__item-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
}

.stock__item-category {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  color: #f16d7f;
}

.stock__item:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/women.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/women.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}

.stock__item:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/men.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/men.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}

.stock__item:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/kids.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/kids.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}

.stock__item:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/accesories.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/accesories.png");
  height: 180px;
  width: 1140px;
  margin-top: 30px;
  padding-top: 65px;
}

.featured {
  margin-top: 97px;
}

.featured__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__name-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.featured__name-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 48px;
  padding-top: 6px;
}

.featured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured__item {
  width: 360px;
  height: 581px;
  background: #f8f8f8;
  margin-bottom: 30px;
}

.featured__item-containet {
  padding: 25px 28px 20px 18px;
}

.featured__item-header {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.featured__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5d5d5d;
}

.featured__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f16d7f;
  padding-top: 18px;
}

.featured__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 14px 38px;
}

.button:hover {
  background-color: #f16d7f;
  color: #fff;
  cursor: pointer;
}

.pagination {
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  width: 283px;
  height: 43px;
  padding: 12px 16px;
  margin: 18px 0 96px 415px;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-decoration: none;
  color: #636363;
  padding-left: 18px;
}

.pagination__item:hover {
  color: #f16d7f;
}

.pagination__bracket {
  font-size: 30px;
  font-weight: 400;
  line-height: 12px;
  color: #222222;
}

.delivery {
  background: #222224;
}

.delivery__list {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__item {
  width: 360px;
  text-align: center;
}

.delivery__item-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #F8F8F8;
  padding-top: 20px;
}

.delivery__item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  color: #F8F8F8;
  text-align: center;
  padding-top: 16px;
}

.subscribe {
  font-family: "Lato", sans-serif;
  background: url("../img/background.png");
  height: 448px;
}

.subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.subscribe__item-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 30px;
  height: 99px;
}

.subscribe__item-text span {
  font-style: italic;
}

.subscribe__item {
  width: 360px;
  text-align: center;
}

.subscribe__item-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 53px;
  text-align: center;
}

.subscribe__item-promo {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 380px;
  padding-bottom: 32px;
}

.subscribe .subscribe__form {
  font-size: 0;
}

.subscribe .subscribe__form-input {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-radius: 30px 0 0 30px;
  border: none;
  padding-left: 22px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}

.subscribe .subscribe__form-input:focus {
  border: 1px solid #f16d7f;
}

.subscribe .subscribe__form-input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-button {
  background: #f16d7f;
  color: #E1E1E1;
  width: 100px;
  border-radius: 0 30px 30px 0;
  border: none;
  height: 49px;
}

.subscribe .subscribe__form-button:hover {
  background: #E1E1E1;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  cursor: pointer;
}

.subscribe__bottom {
  font-family: "Lato", sans-serif;
  background-color: #222224;
  height: 79px;
}

.subscribe__bottom-container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__bottom-content {
  color: #F8F8F8;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.subscribe__bottom-social {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__bottom .social__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  background-color: #E1E1E1;
  height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 8px;
}

.subscribe__bottom .social__item:hover {
  background-color: #F16D7F;
  color: #F8F8F8;
}

.filter .breadcrumbs {
  height: 148px;
  background: #f8f3f4;
}

.filter .breadcrumbs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.filter .breadcrumbs__header {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #f16d7f;
  font-family: "Lato", sans-serif;
}

.filter .breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter .breadcrumbs__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #636363;
  padding-left: 10px;
}

.filter .breadcrumbs__link:hover {
  color: #f16d7f;
}

.filter .filter-wrapper {
  padding-top: 51px;
}

.filter .filter-wrapper .filter__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 17px;
}

.filter .filter-wrapper .filter__img-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter .filter-wrapper .filter__img-header {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}

.filter .filter-wrapper .filter__img-header span {
  padding-left: 20px;
}

.filter .filter-wrapper .filter__img-arrow {
  padding-left: 20px;
  fill: #f16d7f;
}

.filter .filter-wrapper .filter-category {
  background-color: #fff;
  visibility: hidden;
}

.filter .filter-wrapper .filter-category-header {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  color: #f16d7f;
}

.filter .filter-wrapper .filter-category__head {
  padding: 13px 0 16px 0px;
  color: #f16d7f;
  text-transform: uppercase;
}

.filter .filter-wrapper .filter-category__container {
  width: 360px;
  height: 547px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-left: 17px;
}

.filter .filter-wrapper .filter-category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 18px;
}

.filter .filter-wrapper .filter-category__link {
  width: 327px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6f6e6e;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.filter .filter-wrapper .filter-category__link:hover {
  color: #f16d7f;
}

.filter .filter-wrapper .filter-category__junior {
  padding-top: 24px;
}

.filter .filter-wrapper .filter-category__junior-item {
  padding-bottom: 11px;
  padding-left: 12px;
}

.filter .filter-wrapper .filter-category__junior-link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: capitalize;
  text-decoration: none;
}

.filter .filter-wrapper .filter-category__junior-link:hover {
  color: #f16d7f;
}

.filter .filter__img-wrp:hover .filter-category {
  visibility: visible;
}

.filter .filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 300px;
}

.filter .filter__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #6f6e6e;
  padding-right: 28px;
}

.filter .filter__item img {
  padding-left: 10px;
}

.filter .filter-size {
  visibility: hidden;
  position: absolute;
  top: 69px;
  left: 544px;
  width: 79px;
  height: 103px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
}

.filter .filter-size__list {
  padding: 10px 15px 10px;
}

.filter .filter-size__item {
  padding-bottom: 5px;
  color: #6f6e6e;
}

.filter .filter__item:hover .filter-size {
  visibility: visible;
}

.filter .filter-wrapper {
  position: relative;
}

.filter .filter-wrapper .filter-category {
  position: absolute;
  top: 38px;
  left: 0;
}
/*# sourceMappingURL=style.css.map */