html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  width: 1600px;
  margin: 0 auto;
}

.center {
  margin: 0 230px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1599px) {
  body {
    width: 100%;
  }
  .center {
    margin: 0;
  }
}

@media (max-width: 767px) {
  body {
    width: 100%;
  }
  .center {
    margin: 0;
  }
}

.header {
  background: #222222;
  height: 75px;
}

.header__container {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-logo {
  margin-left: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loupe {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
  font-family: "Lato", sans-serif;
}

.main-navi__item {
  padding-top: 10px;
}

.main-navi__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 15px;
  color: #F8F8F8;
  text-decoration: none;
}

.main-navi__link:hover {
  color: #F16D7F;
  cursor: pointer;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 230px;
}

.header-items__list {
  padding-left: 34px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item::before {
  content: "5";
  position: absolute;
  left: 65px;
  top: -6px;
  font-family: "Lato", sans-serif;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .header-container {
    width: 95%;
  }
  .header__container-logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 32px;
  }
  .header-items {
    margin: 0;
    padding-right: 30px;
  }
  .header .main-navi {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-container {
    width: 90%;
  }
  .header__container-logo {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 32px;
  }
  .header-items {
    margin: 0;
    padding-right: 30px;
  }
  .header-items :nth-child(2) {
    display: none;
  }
  .header .cart-item {
    display: none;
  }
  .header .main-navi {
    display: none;
  }
}

.name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1E4E6;
}

.name .nav-brand-container {
  position: absolute;
  left: 1367px;
  top: 0;
  width: 232px;
  height: 764px;
  background-color: #FFF;
  padding-left: 33px;
  -webkit-box-shadow: -15px 9px 21px 0px rgba(117, 117, 117, 0.33);
          box-shadow: -15px 9px 21px 0px rgba(117, 117, 117, 0.33);
}

.name .nav-brand-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  padding-top: 37px;
  padding-bottom: 24px;
}

.name .nav-brand-header span {
  position: absolute;
  font-size: 24px;
  color: #5D5D5D;
  top: 16px;
  left: 203px;
}

.name .nav-brand {
  font-family: "Lato", sans-serif;
}

.name .nav-brand__item {
  padding-bottom: 20px;
}

.name .nav-brand__item-link {
  text-decoration: none;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.name .nav-brand .nav-brand__clothes {
  text-indent: 22px;
}

.name .nav-brand .nav-brand__clothes-item {
  padding-top: 12px;
}

.name .nav-brand .nav-brand__clothes-link {
  text-decoration: none;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.name .nav-brand .nav-brand__clothes-link:hover {
  color: #F16D7F;
}

.name .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name .brand__content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 64px;
}

.name .brand__content-header {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.name .brand__content-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}

.name .brand__content-text span {
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .name .nav-brand-container {
    display: none;
  }
  .name .brand__img {
    width: 50%;
  }
  .name .brand {
    margin: 0;
  }
  .name .brand__content {
    margin-left: 40px;
  }
  .name .brand__content-header {
    font-size: 44px;
  }
  .name .brand__content-text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .name {
    margin: 0;
    min-height: 363px;
    margin-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .name .brand__img {
    display: none;
  }
  .name .brand__content-header {
    font-size: 38px;
  }
  .name .brand__content-text {
    font-size: 20px;
  }
}

.stock {
  margin-top: 64px;
}

.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stock__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock__item-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;
}

.stock__item-category {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.stock__item:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/women.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/women.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}

.stock__item:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/men.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/men.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}

.stock__item:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/kids.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/kids.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}

.stock__item:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url("../img/accesories.png");
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/accesories.png");
  height: 180px;
  width: 1140px;
  margin-top: 30px;
  padding-top: 65px;
}

@media (max-width: 1599px) {
  .stock {
    margin-top: 20px;
  }
  .stock .stock__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .stock .stock__item {
    width: 31.5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stock .stock__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 97%;
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .stock {
    margin-top: 20px;
  }
  .stock .stock__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stock .stock__item {
    width: 91.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stock .stock__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .stock .stock__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 111px;
    background-size: 700px auto;
    min-width: 0;
    margin-top: 0;
    padding: 0;
  }
}

.featured {
  margin-top: 97px;
}

.featured__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__name-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.featured__name-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
  padding-top: 6px;
}

.featured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured__item {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.featured__item-containet {
  padding: 25px 28px 20px 18px;
}

.featured__item-header {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.featured__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
}

.featured__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
}

.featured__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 14px 38px;
}

.button:hover {
  background-color: #F16D7F;
  color: #FFF;
  cursor: pointer;
}

.pagination {
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  width: 283px;
  height: 43px;
  padding: 12px 16px;
  margin: 18px 0 96px 415px;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-decoration: none;
  color: #636363;
  padding-left: 18px;
}

.pagination__item:hover {
  color: #F16D7F;
}

.pagination__bracket {
  font-size: 30px;
  font-weight: 400;
  line-height: 12px;
  color: #222222;
}

@media (max-width: 1599px) {
  .featured {
    margin-top: 64px;
  }
  .featured__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hidden-item {
    display: none;
  }
  .pagination {
    margin: 0 auto 63px;
  }
}

@media (max-width: 767px) {
  .featured {
    margin-top: 64px;
  }
  .featured__item {
    margin-bottom: 16px;
  }
  .featured__button {
    margin-top: 41px;
  }
  .hidden-item {
    display: none;
  }
}

.delivery {
  background: #222224;
}

.delivery__list {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__item {
  width: 360px;
  text-align: center;
}

.delivery__item-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #F8F8F8;
  padding-top: 20px;
}

.delivery__item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  color: #F8F8F8;
  text-align: center;
  padding-top: 16px;
}

@media (max-width: 1599px) {
  .delivery {
    min-height: 610px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .delivery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .delivery__item:not(:last-child) {
    padding-bottom: 48px;
  }
}

.subscribe {
  font-family: "Lato", sans-serif;
  background: url("../img/background.png");
  height: 448px;
}

.subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.subscribe__item-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 30px;
  height: 99px;
}

.subscribe__item-text span {
  font-style: italic;
}

.subscribe__item {
  width: 360px;
  text-align: center;
}

.subscribe__item-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 53px;
  text-align: center;
}

.subscribe__item-promo {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 380px;
  padding-bottom: 32px;
}

.subscribe .subscribe__form {
  font-size: 0;
}

.subscribe .subscribe__form-input {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-radius: 30px 0 0 30px;
  border: none;
  padding-left: 22px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}

.subscribe .subscribe__form-input:focus {
  border: 1px solid #F16D7F;
}

.subscribe .subscribe__form-input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subscribe .subscribe__form-button {
  background: #F16D7F;
  color: #E1E1E1;
  width: 100px;
  border-radius: 0 30px 30px 0;
  border: none;
  height: 49px;
}

.subscribe .subscribe__form-button:hover {
  background: #E1E1E1;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  cursor: pointer;
}

.subscribe-bottom {
  font-family: "Lato", sans-serif;
  background-color: #222224;
  height: 79px;
}

.subscribe-bottom__container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-bottom__content {
  color: #F8F8F8;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.subscribe-bottom__social {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-bottom .social__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  background-color: #E1E1E1;
  height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 8px;
}

.subscribe-bottom .social__item:hover {
  background-color: #F16D7F;
  color: #F8F8F8;
}

@media (max-width: 1599px) {
  .subscribe {
    min-height: 610px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
  }
  .subscribe__item-header {
    padding-bottom: 0;
  }
  .subscribe__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .subscribe__item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
  }
  .subscribe__item-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
  }
  .subscribe__item-promo {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .subscribe-bottom {
    height: 143px;
  }
  .subscribe-bottom__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 23px;
  }
}

.filter .filter-wrapper {
  padding-top: 51px;
}

.filter .filter-wrapper .filter__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 17px;
}

.filter .filter-wrapper .filter__img-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter .filter-wrapper .filter__img-header {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}

.filter .filter-wrapper .filter__img-header span {
  padding-left: 20px;
}

.filter .filter-wrapper .filter__img-arrow {
  padding-left: 20px;
  fill: #F16D7F;
}

.filter .filter-wrapper .filter-category {
  background-color: #FFF;
  visibility: hidden;
}

.filter .filter-wrapper .filter-category-header {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
}

.filter .filter-wrapper .filter-category__head {
  padding: 13px 0 16px 0px;
  color: #F16D7F;
  text-transform: uppercase;
}

.filter .filter-wrapper .filter-category__container {
  width: 360px;
  height: 547px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-left: 17px;
}

.filter .filter-wrapper .filter-category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 18px;
}

.filter .filter-wrapper .filter-category__link {
  width: 327px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6F6E6E;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.filter .filter-wrapper .filter-category__link:hover {
  color: #F16D7F;
}

.filter .filter-wrapper .filter-category__junior {
  padding-top: 24px;
}

.filter .filter-wrapper .filter-category__junior-item {
  padding-bottom: 11px;
  padding-left: 12px;
}

.filter .filter-wrapper .filter-category__junior-link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: capitalize;
  text-decoration: none;
}

.filter .filter-wrapper .filter-category__junior-link:hover {
  color: #F16D7F;
}

.filter .filter__img-wrp:hover .filter-category {
  visibility: visible;
}

.filter .filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 300px;
}

.filter .filter__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #6F6E6E;
  padding-right: 28px;
}

.filter .filter__item img {
  padding-left: 10px;
}

.filter .filter-size {
  visibility: hidden;
  position: absolute;
  top: 69px;
  left: 544px;
  width: 79px;
  height: 103px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
}

.filter .filter-size__list {
  padding: 10px 15px 10px;
}

.filter .filter-size__item {
  padding-bottom: 5px;
  color: #6F6E6E;
}

.filter .filter__item:hover .filter-size {
  visibility: visible;
}

.filter .filter-wrapper {
  position: relative;
}

.filter .filter-wrapper .filter-category {
  position: absolute;
  top: 38px;
  left: 0;
}

@media (max-width: 1599px) {
  .filter .filter-wrapper .filter__img {
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .filter .filter-wrapper .filter-category {
    left: 10px;
  }
  .filter .filter__list {
    padding-left: 0;
  }
  .filter .filter__item:last-child {
    padding: 0;
  }
  .filter .filter-size {
    left: 600px;
  }
}

@media (max-width: 767px) {
  .filter .filter-wrapper .filter__img {
    padding: 0;
  }
  .filter .filter-wrapper .filter__img-header {
    display: none;
  }
  .filter .filter-wrapper .filter__img-arrow {
    padding: 0;
  }
  .filter .filter-wrapper .block {
    display: block;
    padding-top: 13px;
    padding-bottom: 16px;
  }
  .filter .filter-wrapper .filter-category {
    top: 38px;
    left: 8px;
  }
  .filter .filter-wrapper .filter-size {
    left: 210px;
  }
}

.colection {
  position: relative;
  margin-bottom: 129px;
}

.colection__slider {
  background-color: #F7F7F7;
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colection__img {
  width: 597px;
  height: 700px;
}

.colection__content {
  left: 230px;
  top: 720px;
  width: 1141px;
  height: 601px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  margin-top: -50px;
}

.colection__content-header {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #F16D7F;
  text-align: center;
  padding-top: 64px;
}

.colection__content-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 48px;
}

.colection__content-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5E5E5E;
  height: 50px;
  text-align: center;
  padding: 0 292px 82px 294px;
}

.colection__content-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #F16D7F;
  text-align: center;
  padding-bottom: 65px;
}

.colection__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colection__filter-item {
  padding-right: 22px;
  padding-top: 65px;
  padding: 65px 22px 49px 0;
}

.colection__filter-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6F6E6E;
}

.colection__filter .arrow-img {
  padding-left: 9px;
}

.colection__button {
  border: 1px solid #F16D7F;
  padding: 15px 56px 14px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 464px;
}

.colection__button:hover {
  cursor: pointer;
}

.colection__button span {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 23px;
}

.margin {
  padding-bottom: 110px;
}

.separator-header {
  background: #F16D7F;
  font-size: 1px;
  height: 3px;
  overflow: hidden;
  margin: 12px 538px 12px 540px;
}

.separator-bottom {
  background: #EAEAEA;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
  margin: 12px 250px 12px 250px;
}

.colection__slider::before {
  content: "\2039";
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 60px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 365px;
}

.colection__slider::after {
  content: "\203A";
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 365px;
}

@media (max-width: 1599px) {
  .colection .colection__content {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .colection .colection__content-text {
    width: 72%;
    margin: 0 auto;
    padding: 0;
    height: 52px;
    overflow: hidden;
  }
  .colection .separator-bottom {
    margin: 0 auto;
    width: 83%;
  }
  .colection .separator-header {
    margin: 12px auto;
    width: 8%;
  }
  .colection .colection__content-price {
    padding-top: 32px;
  }
  .colection .colection__button {
    margin: 0 auto;
    max-width: 27.5%;
    max-height: 47px;
    padding: 14px 30px 14px 23px;
  }
}

@media (max-width: 767px) {
  .colection .colection__content-header {
    padding-top: 44px;
  }
  .colection .colection__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .colection .colection__content-text {
    width: 72%;
    margin: 0 auto;
    padding: 0;
    min-height: 105px;
    overflow: hidden;
  }
  .colection .colection__content-price {
    padding-bottom: 32px;
  }
  .colection .colection__filter-item {
    padding: 12px 22px 48px 0;
  }
  .colection .colection__filter-link {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }
  .colection .colection__filter-item:last-child {
    padding-right: 0;
  }
  .colection .separator-header {
    margin: 12px auto;
    width: 17%;
  }
  .colection .colection__button {
    max-width: none;
  }
}

.shoping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 96px;
}

.shoping-cart__list {
  padding-bottom: 72px;
}

.shoping-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);
  box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);
}

.shoping-cart__item-wrapper {
  width: 390px;
  position: relative;
  padding-left: 31px;
}

.shoping-cart__item-header {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 42px;
  width: 200px;
}

.shoping-cart__item-price {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.shoping-cart__item-price span {
  color: #F16D7F;
}

.shoping-cart__item-color {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.shoping-cart__item-size {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.shoping-cart__item-quantity {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #575757;
}

.shoping-cart__item-quantity span {
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  padding: 1px 16px 1px 16px;
  margin-left: 24px;
}

.shoping-cart__item-cross {
  position: absolute;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #575757;
  left: 350px;
  top: 16px;
}

.shoping-cart .shoping-form {
  margin-left: 120px;
}

.shoping-cart .shoping-form__list {
  width: 360px;
}

.shoping-cart .shoping-form__header {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 20px;
}

.shoping-cart .shoping-form__input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  margin-bottom: 21px;
}

.shoping-cart .shoping-form__input:focus {
  border: 1px solid #F16D7F;
}

.shoping-cart .shoping-form .get-a-quote {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
  color: #A4A4A4;
  padding: 9px 14px 12px 15px;
  border: 1px solid #A4A4A4;
  margin-bottom: 72px;
}

.shoping-cart .shoping-form .proceed-to-checkout {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  padding: 39px 34px 42px 44px;
}

.shoping-cart .shoping-form .proceed-to-checkout .sub-total {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 12px;
}

.shoping-cart .shoping-form .proceed-to-checkout .grand-total {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  text-align: right;
}

.shoping-cart .shoping-form .proceed-to-checkout .grand-total span {
  font-weight: 700;
  color: #F16D7F;
  padding-left: 15px;
}

.shoping-cart .shoping-form .proceed-to-checkout .separator {
  background: #E2E2E2;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
  margin: 21px 8px 17px 0;
}

.shoping-cart .shoping-form .proceed-to-checkout__button {
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  background-color: #F16D7F;
  color: #FFF;
  width: 273px;
  height: 50px;
}

.shoping-cart .shoping-form .proceed-to-checkout__button:hover {
  background-color: #FFF;
  color: #F16D7F;
  cursor: pointer;
  border: 1px solid #F16D7F;
}

.shoping-cart .shoping-cart__bottons {
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shoping-cart__button {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  padding: 16px 41px 15px 38px;
}

.shoping-cart__button:hover {
  background-color: #F16D7F;
  color: #FFF;
  border: 1px solid #FFF;
  cursor: pointer;
}

@media (max-width: 1599px) {
  .shoping-cart {
    width: 96%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shoping-cart__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shoping-cart .shoping-form {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: none;
  }
  .shoping-cart .shoping-form .proceed-to-checkout {
    margin-top: 40px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .shoping-cart {
    width: 95%;
  }
  .shoping-cart .shoping-form {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: none;
  }
  .shoping-cart .shoping-form__list {
    width: 360px;
  }
}

.registration .registration-container {
  padding-top: 64px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration .registration-container .form {
  width: 360px;
}

.registration .registration-container .form__header {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  display: block;
  padding-bottom: 20px;
}

.registration .registration-container .form__input {
  width: 350px;
  height: 44px;
  border: 1px solid #A4A4A4;
  margin-bottom: 20px;
}

.registration .registration-container .form__input:focus {
  border: 1px solid #F16D7F;
}

.registration .registration-container .form__input:invalid {
  border: 1px solid #F16D7F;
  background-color: #B1B1B1;
}

.registration .registration-container .form__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  min-height: 32px;
  color: #B1B1B1;
}

.registration .registration-container .form__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  height: 50px;
  width: 167px;
  margin-top: 39px;
  background-color: #F16D7F;
  color: #FFF;
}

.registration .registration-container .form__button span {
  padding-left: 20px;
}

.registration .registration-container .form__button:hover {
  border: 1px solid #F16D7F;
  background-color: #fff;
  color: #F16D7F;
  cursor: pointer;
}

.registration .registration-container .form__radio {
  display: inline;
}

.registration .registration-container .form__radio-label {
  width: 100px;
  font-weight: 300;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 20px;
}

.registration .registration-container .registration-content {
  width: 652px;
  margin-left: 128px;
}

.registration .registration-container .registration-content__header {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.registration .registration-container .registration-content__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 21px;
}

.registration .registration-container .registration-content__item {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  list-style-image: url("../../img/item.svg");
  padding-bottom: 16px;
  margin-left: 28px;
  padding-left: 23px;
}

.registration .registration-container .margin-reg {
  padding-bottom: 33px;
}

@media (max-width: 1599px) {
  .registration .registration-container {
    width: 96%;
    margin: 0 auto;
  }
  .registration .registration-container .registration-content {
    margin-left: 23px;
  }
  .registration .registration-container .registration-content__header {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
  .registration .registration-container .registration-content__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
  .registration .registration-container .registration-content__item {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
  }
}

@media (max-width: 767px) {
  .registration .registration-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration .registration-container .registration-content {
    margin: 0;
    width: 357px;
    padding-top: 40px;
  }
}

.breadcrumbs {
  height: 148px;
  background: #F8F3F4;
}

.breadcrumbs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.breadcrumbs__header {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  font-family: "Lato", sans-serif;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #636363;
  padding-left: 10px;
}

.breadcrumbs__link:hover {
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .breadcrumbs-container {
    width: 96%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .breadcrumbs-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */