//index
$color-pink: #f16d7f;
$color-white: #fff;
$color-text: #5d5d5d;

//product
$color-grey: #636363;
$bgk-produck: #f7f7f7;
$pgn-bgk: rgba(42, 42, 42, 0.15);
$color-text-product: #5e5e5e;
$color-link: #6f6e6e;

//catalog
$color-grey-text: #6f6e6e;
$background-color-item: #f8f8f8;

//cart
$color-content: #575757;
$background-color: #f8f3f4;

//registrationimg
$light-gray: #a4a4a4;
$background-reg: #f8f3f4;
$color-gray-reg: #b1b1b1;

$font-family: "Lato", sans-serif;
