//index
$color-pink: #F16D7F;
$color-white: #FFF;
$color-text: #5D5D5D;
$color-featured: #9F9F9F;
$color-link-header:#F8F8F8; 
$background-header: #222222;
$background-menu:#F1E4E6;
$background-delivery: #222224;
$background-form: #E1E1E1;
//product
$color-grey: #636363;
$bgk-produck: #F7F7F7;
$pgn-bgk: rgba(42, 42, 42, 0.15);
$color-text-product: #5E5E5E;
$color-link: #6F6E6E;
$background-content: #EAEAEA;
//catalog
$color-grey-text: #6F6E6E;
$background-color-item: #F8F8F8;
$background-color-catalog:#EBEBEB;
//cart
$color-content: #575757;
$background-color: #F8F3F4;
$background-cart: #F5F3F3;
$background-sprt: #E2E2E2;

//registrationimg
$light-gray: #A4A4A4;
$color-gray-reg: #B1B1B1;

$font-family: "Lato", sans-serif;

$desktop-width: 1599px;
$tablet-width: 767px;