@media (max-width: 1599px) {
  body {
    width: 96%;
  }
  .main-center {
    margin: 0;
  }
  .container {
    width: 95%;
  }
  .header_logo-container {
    margin: 0;
    display: flex;
    padding-left: 32px;
  }
  .main-navi {
    display: none;
  }
  .nav-brand-container {
    display: none;
  }
  .header-items {
    margin: 0;
  }
  .brand {
    margin: 0;
  }
  .brand__img {
    width: 50%;
  }
  .brand .brand__content {
    margin-left: 40px;
  }
  .brand .brand__content__header {
    font-size: 44px;
  }
  .brand .brand__content__text {
    font-size: 24px;
  }
  .second-section {
    margin-top: 20px;
  }
  .second-section .second-section__item {
    width: 31.5%;
    display: flex;
    justify-content: center;
  }
  .second-section__item:last-child {
    display: flex;
    flex-grow: 4;
    margin-top: 19px;
  }
  .third-section__item {
    margin-bottom: 16px;
  }
  .third-section__button {
    margin: 32px 0 65px;
  }
  .fourth-section__list {
    background: #222224;
    min-height: 610px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .subscribe__list {
    height: 693px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto 693px;
  }
  .subscribe__item-second {
    width: 400px;
    padding-top: 100px;
    margin: 0;
  }
  .subscribe__bottom {
    justify-content: space-around;
    padding: 0;
  }
}
@media (max-width: 375px) {
  body {
    width: 91%;
  }
  .main-center {
    margin: 0;
  }
  .container {
    width: 90%;
  }
  .items:nth-child(2) {
    display: none;
  }
  .cart-item {
    display: none;
  }
  .main-navi {
    display: none;
  }
  .nav-brand-container {
    display: none;
  }
  .brand {
    margin: 0;
    min-height: 363px;
  }
  .brand__img {
    display: none;
  }
  .brand .brand__content {
    margin-left: 56px;
  }
  .brand .brand__content__header {
    font-size: 38px;
  }
  .brand .brand__content__text {
    font-size: 20px;
  }
  .second-section {
    margin-top: 20px;
  }
  .second-section .second-section__item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }
  .second-section__item:last-child {
    display: flex;
    flex-grow: 4;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 111px;
    background-size: 700px auto;
  }
  .third-section__head {
    margin-bottom: 64px;
  }
  .third-section__list {
    margin: 0 auto;
  }
  .third-section__item {
    margin-bottom: 16px;
  }
  .fourth-section__list {
    background: #222224;
    min-height: 610px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
  }
  .subscribe__list {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto 550px;
  }
  .subscribe__item-second {
    width: 400px;
    padding-top: 100px;
    margin: 0;
  }
  .subscribe__items-promo {
    font-size: 14px;
  }
  .subscribe__bottom {
    justify-content: space-around;
    padding: 0;
  }
  .follow-by-email-address {
    width: 200px;
  }
  .subscribe__bottom {
    display: flex;
    flex-direction: column-reverse;
    min-height: 143px;
  }
}
