.navigation {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 230px;
}
.navigation__text {
  text-transform: uppercase;
  color: #F16D7F;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.navigation__list {
  display: flex;
  padding-right: 230px;
}
.navigation__item a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  padding-left: 10px;
}
.navigation__item a:hover {
  color: #F16D7F;
}
header {
  position: relative;
}
.women-colection {
  position: relative;
}
.women-colection__slider {
  height: 777px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
}
.women-colection__pagination__direction {
  position: absolute;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.women-colection__pagination__direction:hover {
  color: #F16D7F;
  cursor: pointer;
}
.women-colection__pagination__direction-left {
  left: 0;
  top: 378px;
}
.women-colection__pagination__direction-right {
  left: 1553px;
  top: 378px;
}
.women-colection__content {
  position: absolute;
  left: 230px;
  top: 720px;
  width: 1141px;
  height: 601px;
  border: 1px solid #EAEAEA;
  background: #FFFFFF;
}
.women-colection__content__header {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #F16D7F;
  text-align: center;
  padding-top: 64px;
}
.women-colection__content__description {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 48px;
}
.women-colection__content__text {
  height: 50px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  padding: 0 292px 82px 294px;
}
.women-colection__content__price {
  font-weight: 300;
  font-size: 24px;
  color: #F16D7F;
  text-align: center;
  padding-bottom: 65px;
}
.women-colection__filter {
  display: flex;
  justify-content: center;
}
.women-colection__filter__item {
  padding-right: 22px;
  padding-top: 65px;
  padding: 65px 22px 49px 0;
}
.women-colection__filter__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #6F6E6E;
}
.women-colection__filter .arrow-img {
  padding-left: 9px;
}
.women-colection__button {
  border: 1px solid #F16D7F;
  padding: 15px 56px 14px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 464px;
}
.women-colection__button:hover {
  cursor: pointer;
}
.women-colection__button span {
  font-size: 16px;
  color: #F16D7F;
  padding-left: 23px;
}
.separator-header {
  background: #F16D7F;
  font-size: 1px;
  height: 3px;
  overflow: hidden;
  margin: 12px 538px 12px 540px;
}
.separator-bottom {
  background: #EAEAEA;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
  margin: 12px 250px 12px 250px;
}
.other-collection {
  margin-top: 664px;
  margin-bottom: 128px;
  display: flex;
  justify-content: center;
}
.other-collection__list {
  display: flex;
}
.other-collection__item {
  height: 581px;
  width: 360px;
  background-color: #F8F8F8;
}
.other-collection__header {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 13px;
}
.other-collection__text {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 18px;
  color: #5D5D5D;
}
.other-collection__price {
  color: #F16D7F;
}
.other-collection__container {
  padding: 24px 29px 20px 16px;
}
.other-collection .margins {
  margin-right: 30px;
  margin-left: 30px;
}
