.registration-header {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
  padding-left: 230px;
}
.registration-header__text {
  text-transform: uppercase;
  color: #F16D7F;
}
.registration-container {
  padding-top: 64px;
  display: flex;
}
.registration-container .form {
  width: 360px;
}
.registration-container .form .label {
  display: block;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 20px;
}
.registration-container .form .input {
  width: 350px;
  height: 44px;
  border: 1px solid #A4A4A4;
  margin-bottom: 20px;
}
.registration-container .form .input:focus {
  border: 1px solid #F16D7F;
}
.registration-container .form .input:invalid {
  border: 1px solid #F16D7F;
  background-color: #F8F3F4;
}
.registration-container .form__text {
  font-weight: 300;
  font-size: 13px;
  min-height: 32px;
  color: #B1B1B1;
}
.registration-container .form__button {
  height: 50px;
  width: 167px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  background-color: #F16D7F;
  color: #fff;
}
.registration-container .form__button:hover {
  border: 1px solid #F16D7F;
  background-color: #fff;
  color: #F16D7F;
  cursor: pointer;
}
.registration-container .form .details {
  margin-top: 35px;
}
.registration-container .form .form-radio {
  display: inline;
}
.registration-container .form .form-radio__label {
  width: 100px;
  font-weight: 300;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 20px;
}
.registration-container .registration-content {
  width: 652px;
  margin-left: 128px;
}
.registration-container .registration-content__header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 22px;
}
.registration-container .registration-content__text {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 21px;
}
.registration-container .registration-content__item {
  font-weight: 300;
  font-size: 24px;
  list-style-image: url("../../img/item.svg");
  list-style-position: inside;
  padding-bottom: 16px;
}
