html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background: transparent;
  border: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
body {
  width: 1600px;
  margin: 0 auto;
}
.main-center {
  margin: 0 230px;
}
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.main-navi {
  display: flex;
  padding-left: 150px;
  font-family: 'Lato', sans-serif;
}
.main-navi__item {
  padding-top: 10px;
}
.main-navi__link {
  font-size: 20px;
  font-weight: 400;
  padding-left: 15px;
  text-transform: uppercase;
  color: #F8F8F8;
  text-decoration: none;
}
.main-navi__link:hover {
  color: #F16D7F;
  cursor: pointer;
}
.header {
  background: #222222;
  height: 75px;
}
.container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo-container {
  margin-left: 230px;
}
.loupe {
  margin-left: 40px;
}
.header-items {
  display: flex;
  margin-right: 230px;
}
.cart-item::before {
  content: "5";
  position: absolute;
  font-family: 'Lato', sans-serif;
  color: #ffff;
  font-size: 12px;
  line-height: 12px;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 65px;
  top: -6px;
}
.items {
  padding-left: 34px;
  position: relative;
}
.first-section {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F1E4E6;
}
.nav-brand-container {
  position: absolute;
  left: 1367px;
  width: 232px;
  height: 764px;
  background-color: #fff;
  padding-left: 33px;
  box-shadow: -15px 9px 21px 0px rgba(117, 117, 117, 0.33);
}
.nav-brand-container .nav-brand-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-top: 37px;
  padding-bottom: 24px;
}
.nav-brand-container .nav-brand-header span {
  position: absolute;
  font-size: 24px;
  color: #5D5D5D;
  top: 16px;
  left: 203px;
}
.nav-brand-container .nav-brand {
  font-family: 'Lato', sans-serif;
}
.nav-brand-container .nav-brand__item {
  padding-bottom: 20px;
}
.nav-brand-container .nav-brand__item__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
}
.nav-brand-container .nav-brand__clothes {
  text-indent: 22px;
}
.nav-brand-container .nav-brand__clothes__item {
  padding-top: 12px;
}
.nav-brand-container .nav-brand__clothes__link {
  text-decoration: none;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 400;
}
.nav-brand-container .nav-brand__clothes__link:hover {
  color: #F16D7F;
}
.brand {
  display: flex;
  align-items: center;
}
.brand__content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 64px;
}
.brand__content__header {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
}
.brand__content__text {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}
.brand__content__text span {
  color: #F16D7F;
}
.second-section {
  margin-top: 64px;
}
.second-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.second-section__item:first-child {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/women.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}
.second-section__item:nth-child(2) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/men.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}
.second-section__item:nth-child(3) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/kids.png");
  height: 260px;
  width: 360px;
  padding-top: 110px;
}
.second-section__item:last-child {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/accesories.png");
  height: 180px;
  width: 1140px;
  margin-top: 30px;
  padding-top: 65px;
}
.second-section__item-name {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.second-section__item-category {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #F16D7F;
}
.second-section__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .third-section {
  margin-top: 97px;
}
.third-section__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-section__head h2 {
  font-size: 30px;
  font-weight: 400;
}
.third-section__head p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 48px;
  padding-top: 6px;
}
.third-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.third-section__item {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
}
.third-section__item-containet {
  padding: 25px 28px 20px 18px;
}
.third-section__item-price {
  font-size: 16px;
  color: #F16D7F;
  padding-top: 18px;
}
.third-section__item-text {
  font-weight: 300;
  font-size: 14px;
  color: #5D5D5D;
}
.third-section__item-header {
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.third-section__item {
  margin-bottom: 30px;
}
.third-section__button {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}
.third-section__button .button {
  color: #F16D7F;
  font-size: 16px;
  border: 1px solid #F16D7F;
  padding: 14px 38px;
}
.third-section__button .button:hover {
  background-color: #F16D7F;
  color: #ffff;
  cursor: pointer;
}
.fourth-section {
  font-family: Lato;
}
.fourth-section__list {
  background: #222224;
  height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-section__item-header {
  font-size: 20px;
  color: #FBFBFB;
  padding-top: 20px;
}
.fourth-section__item-text {
  font-size: 16px;
  color: #FBFBFB;
  text-align: center;
  line-height: 17px;
  padding: 16px 15px 0 15px;
}
.fourth-section__item {
  width: 360px;
  text-align: center;
}
.fourth-section__item:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.subscribe {
  position: relative;
  font-family: Lato;
}
.subscribe__list {
  height: 448px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url(../../img/background.png);
  padding: 0 250px;
}
.subscribe__items-text {
  font-size: 20px;
  font-weight: 400;
  padding-top: 30px;
  height: 99px;
}
.subscribe__item-first {
  width: 360px;
  text-align: center;
}
.subscribe__item-second {
  width: 400px;
  margin-left: 360px;
}
.subscribe__items-header {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 53px;
  text-align: center;
}
.subscribe__items-promo {
  font-size: 18px;
  font-weight: 380px;
  text-transform: uppercase;
  padding-bottom: 32px;
  padding-left: 20px;
}
.follow-by-email-address {
  background: #E1E1E1;
  width: 280px;
  height: 49px;
  border-radius: 30px 0 0 30px;
  border: none;
  padding-left: 22px;
}
.follow-by-email-submit {
  background: #F16D7F;
  color: #E1E1E1;
  width: 100px;
  border-radius: 0 30px 30px 0;
  border: none;
  height: 49px;
}
.subscribe__bottom {
  font-family: Lato;
  height: 79px;
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 235px;
  padding-right: 230px;
}
.subscribe__bottom p {
  color: #FBFBFB;
  font-size: 16px;
}
.social__list {
  display: flex;
}
.social__item {
  height: 32px;
  width: 32px;
  background-color: #E1E1E1;
  font-size: 18px;
  text-align: center;
  padding-top: 8px;
}
.social__item:hover {
  background-color: #F16D7F;
  color: #F8F8F8;
}
.social__item:nth-child(2),
.social__item:nth-child(3),
.social__item:nth-child(4) {
  margin-left: 10px;
}
header {
  position: relative;
}
.navigation {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 230px;
}
.navigation__text {
  text-transform: uppercase;
  color: #F16D7F;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.navigation__list {
  display: flex;
  padding-right: 230px;
}
.navigation__item a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  padding-left: 10px;
}
.navigation__item a:hover {
  color: #F16D7F;
}
.filter {
  display: flex;
  padding: 51px 0 64px 0;
}
.filter__img {
  text-transform: uppercase;
  font-weight: 600;
  font-style: 14px;
  display: flex;
}
.filter__arrow-img {
  padding-left: 11px;
  fill: #F16D7F;
}
.filter__list {
  display: flex;
  padding-left: 320px;
}
.filter__item {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6F6E6E;
  padding-right: 28px;
}
.filter__item img {
  padding-left: 10px;
}
.catalog-section-first__item:nth-child(2),
.catalog-section-first__item:nth-child(5),
.catalog-section-first__item:nth-child(8) {
  margin-left: 30px;
  margin-right: 30px;
}
.catalog-section-first__list {
  display: flex;
  flex-wrap: wrap;
}
.catalog-section-first__item {
  width: 360px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
}
.catalog-section-first__item__cantainer {
  padding: 15px 28px 20px 16px;
}
.catalog-section-first__item__header {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-bottom: 13px;
}
.catalog-section-first__item__text {
  font-weight: 300;
  font-size: 14px;
  color: #5D5D5D;
  padding-bottom: 18px;
}
.catalog-section-first__item__price {
  color: #F16D7F;
}
.pagination {
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  width: 283px;
  height: 43px;
  padding: 12px 16px;
  margin: 18px 0 96px 415px;
}
.pagination__list {
  display: flex;
}
.pagination__item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #636363;
  padding-left: 18px;
}
.pagination__item:hover {
  color: #F16D7F;
}
.pagination__bracket {
  color: black;
  font-weight: 400;
  font-size: 30px;
  line-height: 12px;
}
.filter-category {
  background-color: #ffff;
  visibility: hidden;
}
.filter-category__head {
  padding: 13px 0 16px 16px;
  color: #F16D7F;
}
.filter-category__container {
  width: 360px;
  height: 531px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-left: 17px;
}
.filter-category__item {
  display: flex;
  flex-direction: column;
}
.filter-category__item__link {
  width: 327px;
  text-decoration: none;
  color: #6F6E6E;
  text-transform: uppercase;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.filter-category__item__link:hover {
  color: #F16D7F;
}
.filter-category__junior {
  padding-top: 11px;
}
.filter-category__junior__link {
  color: #6F6E6E;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  padding-left: 18px;
}
.filter-category__junior__link:hover {
  color: #F16D7F;
}
.filter-wrapper:hover .filter-category {
  visibility: visible;
}
.filter-size {
  visibility: hidden;
  position: absolute;
  top: 68px;
  left: 544px;
  width: 79px;
  height: 103px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
}
.filter-size__list {
  padding: 7px 11px 9px;
}
.filter-size__item {
  padding-bottom: 5px;
  color: #6F6E6E;
}
.filter__item:hover .filter-size {
  visibility: visible;
}
.wrapper-filter {
  position: relative;
}
.wrapper-filter .filter-category {
  position: absolute;
  top: 38px;
  left: -32px;
  z-index: 1;
}
.filter-category__item:first-child {
  height: 340px;
  margin-bottom: 24px;
}
.filter-category__item:nth-child(2) {
  margin-bottom: 11px;
}
.navigation {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 230px;
}
.navigation__text {
  text-transform: uppercase;
  color: #F16D7F;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.navigation__list {
  display: flex;
  padding-right: 230px;
}
.navigation__item a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  padding-left: 10px;
}
.navigation__item a:hover {
  color: #F16D7F;
}
header {
  position: relative;
}
.women-colection {
  position: relative;
}
.women-colection__slider {
  height: 777px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
}
.women-colection__pagination__direction {
  position: absolute;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.women-colection__pagination__direction:hover {
  color: #F16D7F;
  cursor: pointer;
}
.women-colection__pagination__direction-left {
  left: 0;
  top: 378px;
}
.women-colection__pagination__direction-right {
  left: 1553px;
  top: 378px;
}
.women-colection__content {
  position: absolute;
  left: 230px;
  top: 720px;
  width: 1141px;
  height: 601px;
  border: 1px solid #EAEAEA;
  background: #FFFFFF;
}
.women-colection__content__header {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #F16D7F;
  text-align: center;
  padding-top: 64px;
}
.women-colection__content__description {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 48px;
}
.women-colection__content__text {
  height: 50px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  padding: 0 292px 82px 294px;
}
.women-colection__content__price {
  font-weight: 300;
  font-size: 24px;
  color: #F16D7F;
  text-align: center;
  padding-bottom: 65px;
}
.women-colection__filter {
  display: flex;
  justify-content: center;
}
.women-colection__filter__item {
  padding-right: 22px;
  padding-top: 65px;
  padding: 65px 22px 49px 0;
}
.women-colection__filter__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #6F6E6E;
}
.women-colection__filter .arrow-img {
  padding-left: 9px;
}
.women-colection__button {
  border: 1px solid #F16D7F;
  padding: 15px 56px 14px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 464px;
}
.women-colection__button:hover {
  cursor: pointer;
}
.women-colection__button span {
  font-size: 16px;
  color: #F16D7F;
  padding-left: 23px;
}
.separator-header {
  background: #F16D7F;
  font-size: 1px;
  height: 3px;
  overflow: hidden;
  margin: 12px 538px 12px 540px;
}
.separator-bottom {
  background: #EAEAEA;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
  margin: 12px 250px 12px 250px;
}
.other-collection {
  margin-top: 664px;
  margin-bottom: 128px;
  display: flex;
  justify-content: center;
}
.other-collection__list {
  display: flex;
}
.other-collection__item {
  height: 581px;
  width: 360px;
  background-color: #F8F8F8;
}
.other-collection__header {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 13px;
}
.other-collection__text {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 18px;
  color: #5D5D5D;
}
.other-collection__price {
  color: #F16D7F;
}
.other-collection__container {
  padding: 24px 29px 20px 16px;
}
.other-collection .margins {
  margin-right: 30px;
  margin-left: 30px;
}
.shoping-cart {
  height: 148px;
  background-color: #F8F3F4;
  margin-bottom: 96px;
}
.shoping-cart__text {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  padding: 59px 0 60px 230px;
  color: #F16D7F;
}
.shoping-section {
  display: flex;
}
.shoping-section .shoping-cards {
  padding-bottom: 128px;
}
.shoping-section .shoping-cards .clothing-card {
  display: flex;
  margin-bottom: 40px;
  -webkit-box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);
  -moz-box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);
  box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);
}
.shoping-section .shoping-cards .clothing-card__content {
  width: 390px;
  position: relative;
  padding-left: 31px;
}
.shoping-section .shoping-cards .clothing-card__content__header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  padding-top: 22px;
  padding-bottom: 42px;
  width: 200px;
}
.shoping-section .shoping-cards .clothing-card__content__price {
  font-size: 22px;
  font-weight: 400;
  color: #575757;
  padding-bottom: 6px;
}
.shoping-section .shoping-cards .clothing-card__content__price span {
  color: #F16D7F;
}
.shoping-section .shoping-cards .clothing-card__content__color {
  font-size: 22px;
  font-weight: 400;
  color: #575757;
  padding-bottom: 6px;
}
.shoping-section .shoping-cards .clothing-card__content__size {
  font-size: 22px;
  font-weight: 400;
  color: #575757;
  padding-bottom: 6px;
}
.shoping-section .shoping-cards .clothing-card__content__quantity {
  font-size: 22px;
  font-weight: 400;
  color: #575757;
}
.shoping-section .shoping-cards .clothing-card__content__quantity span {
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  padding: 1px 16px 1px 16px;
  margin-left: 24px;
}
.shoping-section .shoping-cards .clothing-card__content__cross {
  position: absolute;
  font-size: 36px;
  font-weight: 700;
  color: #575757;
  left: 350px;
  top: 16px;
}
.shoping-section .shoping-cards__button {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  padding: 16px 41px 15px 38px;
}
.shoping-section .shoping-cards__button:hover {
  background-color: #F16D7F;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.shoping-section .shoping-cards .button-continue {
  margin-left: 192px;
}
.shoping-section .shoping-form {
  margin-left: 128px;
}
.shoping-section .shoping-form__header {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  display: block;
  padding-bottom: 20px;
}
.shoping-section .shoping-form__input {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  margin-bottom: 21px;
}
.shoping-section .shoping-form__input:focus {
  border: 1px solid #F16D7F;
}
.shoping-section .shoping-form .get-a-quote {
  text-transform: uppercase;
  padding: 9px 14px 12px 15px;
  border: 1px solid #A4A4A4;
  margin-bottom: 57px;
}
.shoping-section .shoping-form .proceed-to-checkout {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  padding: 39px 34px 42px 44px;
}
.shoping-section .shoping-form .proceed-to-checkout .sub-total {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 12px;
}
.shoping-section .shoping-form .proceed-to-checkout .grand-total {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}
.shoping-section .shoping-form .proceed-to-checkout .grand-total span {
  font-weight: 700;
  color: #F16D7F;
  padding-left: 15px;
}
.shoping-section .shoping-form .proceed-to-checkout .separator {
  background: #E2E2E2;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
  margin: 21px 8px 17px 0;
}
.shoping-section .shoping-form .proceed-to-checkout__button {
  text-transform: uppercase;
  color: #fff;
  width: 273px;
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  background-color: #F16D7F;
}
.shoping-section .shoping-form .proceed-to-checkout__button:hover {
  background-color: #fff;
  color: #F16D7F;
  cursor: pointer;
  border: 1px solid #F16D7F;
}
.registration-header {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
  padding-left: 230px;
}
.registration-header__text {
  text-transform: uppercase;
  color: #F16D7F;
}
.registration-container {
  padding-top: 64px;
  display: flex;
}
.registration-container .form {
  width: 360px;
}
.registration-container .form .label {
  display: block;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 20px;
}
.registration-container .form .input {
  width: 350px;
  height: 44px;
  border: 1px solid #A4A4A4;
  margin-bottom: 20px;
}
.registration-container .form .input:focus {
  border: 1px solid #F16D7F;
}
.registration-container .form .input:invalid {
  border: 1px solid #F16D7F;
  background-color: #F8F3F4;
}
.registration-container .form__text {
  font-weight: 300;
  font-size: 13px;
  min-height: 32px;
  color: #B1B1B1;
}
.registration-container .form__button {
  height: 50px;
  width: 167px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  background-color: #F16D7F;
  color: #fff;
}
.registration-container .form__button:hover {
  border: 1px solid #F16D7F;
  background-color: #fff;
  color: #F16D7F;
  cursor: pointer;
}
.registration-container .form .details {
  margin-top: 35px;
}
.registration-container .form .form-radio {
  display: inline;
}
.registration-container .form .form-radio__label {
  width: 100px;
  font-weight: 300;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 20px;
}
.registration-container .registration-content {
  width: 652px;
  margin-left: 128px;
}
.registration-container .registration-content__header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 22px;
}
.registration-container .registration-content__text {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 21px;
}
.registration-container .registration-content__item {
  font-weight: 300;
  font-size: 24px;
  list-style-image: url("../../img/item.svg");
  list-style-position: inside;
  padding-bottom: 16px;
}
@media (max-width: 1599px) {
  body {
    width: 96%;
  }
  .main-center {
    margin: 0;
  }
  .container {
    width: 95%;
  }
  .header_logo-container {
    margin: 0;
    display: flex;
    padding-left: 32px;
  }
  .main-navi {
    display: none;
  }
  .nav-brand-container {
    display: none;
  }
  .header-items {
    margin: 0;
  }
  .brand {
    margin: 0;
  }
  .brand__img {
    width: 50%;
  }
  .brand .brand__content {
    margin-left: 40px;
  }
  .brand .brand__content__header {
    font-size: 44px;
  }
  .brand .brand__content__text {
    font-size: 24px;
  }
  .second-section {
    margin-top: 20px;
  }
  .second-section .second-section__item {
    width: 31.5%;
    display: flex;
    justify-content: center;
  }
  .second-section__item:last-child {
    display: flex;
    flex-grow: 4;
    margin-top: 19px;
  }
  .third-section__item {
    margin-bottom: 16px;
  }
  .third-section__button {
    margin: 32px 0 65px;
  }
  .fourth-section__list {
    background: #222224;
    min-height: 610px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .subscribe__list {
    height: 693px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto 693px;
  }
  .subscribe__item-second {
    width: 400px;
    padding-top: 100px;
    margin: 0;
  }
  .subscribe__bottom {
    justify-content: space-around;
    padding: 0;
  }
}
@media (max-width: 375px) {
  body {
    width: 91%;
  }
  .main-center {
    margin: 0;
  }
  .container {
    width: 90%;
  }
  .items:nth-child(2) {
    display: none;
  }
  .cart-item {
    display: none;
  }
  .main-navi {
    display: none;
  }
  .nav-brand-container {
    display: none;
  }
  .brand {
    margin: 0;
    min-height: 363px;
  }
  .brand__img {
    display: none;
  }
  .brand .brand__content {
    margin-left: 56px;
  }
  .brand .brand__content__header {
    font-size: 38px;
  }
  .brand .brand__content__text {
    font-size: 20px;
  }
  .second-section {
    margin-top: 20px;
  }
  .second-section .second-section__item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }
  .second-section__item:last-child {
    display: flex;
    flex-grow: 4;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 111px;
    background-size: 700px auto;
  }
  .third-section__head {
    margin-bottom: 64px;
  }
  .third-section__list {
    margin: 0 auto;
  }
  .third-section__item {
    margin-bottom: 16px;
  }
  .fourth-section__list {
    background: #222224;
    min-height: 610px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
  }
  .subscribe__list {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto 550px;
  }
  .subscribe__item-second {
    width: 400px;
    padding-top: 100px;
    margin: 0;
  }
  .subscribe__items-promo {
    font-size: 14px;
  }
  .subscribe__bottom {
    justify-content: space-around;
    padding: 0;
  }
  .follow-by-email-address {
    width: 200px;
  }
  .subscribe__bottom {
    display: flex;
    flex-direction: column-reverse;
    min-height: 143px;
  }
}
