.breadcrumbs {
    height: 148px;
    background: $background-color;

    &-container {
        @include flex-center-space-between;
        height: inherit;
    }

    &__header {
        @include font-tt(24px, 400, 29px, uppercase);
        color: $color-pink;
        font-family: $font-family;
    }

    &__list {
        display: flex;
    }

    &__link {
        text-decoration: none;
        @include font-tt(14px, 300, 17px, uppercase);
        color: $color-grey;
        padding-left: 10px;

        &:hover {
            color: $color-pink;
        }
    }
}

@media(max-width: $desktop-width) {
    .breadcrumbs {
        &-container {
            width: 96%;
            margin: 0 auto;
        }
    }
}

@media(max-width: $tablet-width) {
    .breadcrumbs {
        &-container {
            flex-wrap: wrap;
            @include flex-center-space-around;
        }
    }
}