.colection {
    position: relative;
    margin-bottom: 129px;

    &__slider {
        background-color: $bgk-produck;
        height: 777px;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 597px;
        height: 700px;
    }

    &__content {
        left: 230px;
        top: 720px;
        width: 1141px;
        height: 601px;
        border: 1px solid $background-content;
        background: $color-white;
        margin-top: -50px;

        &-header {
            @include font-tt (14px, 300, 17px, uppercase);
            color: $color-pink;
            text-align: center;
            padding-top: 64px;
        }

        &-description {
            @include font-tt (18px, 300, 22px, uppercase);
            text-align: center;
            padding-bottom: 48px;
        }

        &-text {
            @include font(14px, 300, 17px);
            color: $color-text-product;
            height: 50px;
            text-align: center;
            padding: 0 292px 82px 294px;
        }

        &-price {
            @include font(24px, 300, 29px);
            color: $color-pink;
            text-align: center;
            padding-bottom: 65px;
        }
    }

    &__filter {
        display: flex;
        justify-content: center;

        &-item {
            padding-right: 22px;
            padding-top: 65px;
            padding: 65px 22px 49px 0;
        }

        &-link {
            @include font-tt(14px, 400, 17px, uppercase);
            text-decoration: none;
            color: $color-link;
        }

        .arrow-img {
            padding-left: 9px;
        }
    }

    &__button {
        border: 1px solid $color-pink;
        padding: 15px 56px 14px 23px;
        @include flex-center-center;
        margin-left: 464px;

        &:hover {
            cursor: pointer;
        }

        span {
            @include font(16px, 400, 19px);
            color: $color-pink;
            padding-left: 23px;
        }
    }
}

.margin {
    padding-bottom: 110px;
}

.separator-header {
    background: $color-pink;
    font-size: 1px;
    height: 3px;
    overflow: hidden;
    margin: 12px 538px 12px 540px;
}

.separator-bottom {
    background: $background-content;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
    margin: 12px 250px 12px 250px;
}

.colection__slider::before {
    content: "\2039";
    width: 47px;
    height: 47px;
    background-color: $pgn-bgk;
    font-size: 60px;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 365px;
}

.colection__slider::after {
    content: "\203A";
    width: 47px;
    height: 47px;
    background-color: $pgn-bgk;
    font-size: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 365px;
}

@media (max-width: $desktop-width) {
    .colection {
        .colection__content {
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .colection__content-text {
            width: 72%;
            margin: 0 auto;
            padding: 0;
            height: 52px;
            overflow: hidden;
        }

        .separator-bottom {
            margin: 0 auto;
            width: 83%;
        }

        .separator-header {
            margin: 12px auto;
            width: 8%;
        }

        .colection__content-price {
            padding-top: 32px;
        }

        .colection__button {
            margin: 0 auto;
            max-width: 27.5%;
            max-height: 47px;
            padding: 14px 30px 14px 23px;
        }
    }
}

@media(max-width: $tablet-width) {
    .colection {
        .colection__content-header {
            padding-top: 44px;
        }

        .colection__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .colection__content-text {
            width: 72%;
            margin: 0 auto;
            padding: 0;
            min-height: 105px;
            overflow: hidden;
        }

        .colection__content-price {
            padding-bottom: 32px;
        }

        .colection__filter-item {
            padding: 12px 22px 48px 0;
        }

        .colection__filter-link {
            @include font(10px, 400, 12px);
        }

        .colection__filter-item:last-child {
            padding-right: 0;
        }

        .separator-header {
            margin: 12px auto;
            width: 17%;
        }

        .colection__button {
            max-width: none;
        }
    }
}