.delivery {
    background: $background-delivery;

    &__list {
        height: 341px;
        @include flex-center-space-around;
    }

    &__item {
        width: 360px;
        text-align: center;
    }

    &__item-header {
        @include font(20px, 400, 20px);
        color: $color-link-header;
        padding-top: 20px;
    }

    &__item-text {
        @include font(16px, 300, 17px);
        color: $color-link-header;
        text-align: center;
        padding-top: 16px;
    }
}