.filter {
    .filter-wrapper {
        padding-top: 51px;

        .filter__img {
            display: flex;
            padding-left: 17px;

            &-wrp {
                display: flex;
            }

            &-header {
                @include font-tt(14px, 600, 17px, uppercase);

                span {
                    padding-left: 20px;
                }
            }

            &-arrow {
                padding-left: 20px;
                fill: $color-pink;
            }
        }

        .filter-category {
            background-color: $color-white;
            visibility: hidden;

            &-header {
                @include font-tt(14px, 600, 17px, uppercase);
                color: $color-pink;
            }

            &__head {
                padding: 13px 0 16px 0px;
                color: $color-pink;
                text-transform: uppercase;
            }

            &__container {
                width: 360px;
                height: 547px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                padding-left: 17px;
            }

            &__item {
                display: flex;
                flex-direction: column;
                padding-bottom: 18px;
            }

            &__link {
                width: 327px;
                @include font-tt(14px, 400, 17px, uppercase);
                text-decoration: none;
                color: $color-grey-text;
                border-left: 5px solid $color-pink;
                border-bottom: 1px solid $background-color-catalog;
                padding-left: 11px;
                padding-top: 12px;
                padding-bottom: 12px;

                &:hover {
                    color: $color-pink;
                }

            }

            &__junior {
                padding-top: 24px;

                &-item {
                    padding-bottom: 11px;
                    padding-left: 12px;
                }

                &-link {
                    color: $color-grey-text;
                    @include font-tt(14px, 400, 17px, capitalize);
                    text-decoration: none;

                    &:hover {
                        color: $color-pink;
                    }
                }
            }
        }
    }

    .filter__img-wrp:hover .filter-category {
        visibility: visible;
    }

    .filter__list {
        display: flex;
        padding-left: 300px;
    }

    .filter__item {
        @include font-tt(14px, 400, 17px, uppercase);
        color: $color-grey-text;
        padding-right: 28px;

        img {
            padding-left: 10px;
        }
    }

    .filter-size {
        visibility: hidden;
        position: absolute;
        top: 69px;
        left: 544px;
        width: 79px;
        height: 103px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        background-color: #ffff;

        &__list {
            padding: 10px 15px 10px;
        }

        &__item {
            padding-bottom: 5px;
            color: $color-grey-text;
        }
    }

    .filter__item:hover .filter-size {
        visibility: visible;
    }

    .filter-wrapper {
        position: relative;

        .filter-category {
            position: absolute;
            top: 38px;
            left: 0;
        }
    }
}

@media (max-width: $desktop-width) {
    .filter {
        .filter-wrapper {
            .filter__img {
                width: 96%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
            }

            .filter-category {
                left: 10px;
            }
        }

        .filter__list {
            padding-left: 0;
        }

        .filter__item:last-child {
            padding: 0;
        }

        .filter-size {
            left: 600px;
        }
    }
}

@media (max-width: $tablet-width) {
    .filter {
        .filter-wrapper {
            .filter__img {
                padding: 0;
            }

            .filter__img-header {
                display: none;
            }

            .filter__img-arrow {
                padding: 0;
            }

            .block {
                display: block;
                padding-top: 13px;
                padding-bottom: 16px;
            }

            .filter-category {
                top: 38px;
                left: 8px;
            }

            .filter-size {
                left: 210px;
            }
        }
    }
}