.registration {
    .registration-container {
        padding-top: 64px;
        padding-bottom: 96px;
        display: flex;

        .form {
            width: 360px;

            &__header {
                @include font (16px, 300, 19px);
                display: block;
                padding-bottom: 20px;
            }

            &__input {
                width: 350px;
                height: 44px;
                border: 1px solid $light-gray;
                margin-bottom: 20px;

                &:focus {
                    border: 1px solid $color-pink;
                }

                &:invalid {
                    border: 1px solid $color-pink;
                    background-color: $color-gray-reg;
                }
            }

            &__text {
                @include font(13px, 300, 16px);
                min-height: 32px;
                color: $color-gray-reg;
            }

            &__button {
                @include font-tt(14px, 400, 17px, uppercase);
                height: 50px;
                width: 167px;
                margin-top: 39px;
                background-color: $color-pink;
                color: $color-white;

                span {
                    padding-left: 20px;
                }

                &:hover {
                    border: 1px solid $color-pink;
                    background-color: #fff;
                    color: $color-pink;
                    cursor: pointer;
                }
            }


            &__radio {
                display: inline;

                &-label {
                    width: 100px;
                    font-weight: 300;
                    font-size: 15px;
                    padding-left: 10px;
                    padding-right: 20px;
                }
            }
        }

        .registration-content {
            width: 652px;
            margin-left: 128px;

            &__header {
                @include font-tt(24px, 300, 29px, uppercase);
                padding-bottom: 22px;
            }

            &__text {
                @include font(24px, 300, 29px);
                padding-bottom: 21px;
            }

            &__item {
                @include font(24px, 300, 29px);
                list-style-image: url("../../img/item.svg");
                padding-bottom: 16px;
                margin-left: 28px;
                padding-left: 23px;
            }
        }

        .margin-reg {
            padding-bottom: 33px;
        }
    }
}

@media (max-width: $desktop-width) {
    .registration {
        .registration-container {
            width: 96%;
            margin: 0 auto;

            .registration-content {
                margin-left: 23px;

                &__header {
                    @include font(16px, 300, 19px);
                }

                &__text {
                    @include font(16px, 300, 19px);
                }

                &__item {
                    @include font(16px, 300, 19px);
                }
            }
        }
    }
}

@media(max-width: $tablet-width) {
    .registration {
        .registration-container {
            display: flex;
            flex-direction: column;

            .registration-content {
                margin: 0;
                width: 357px;
                padding-top: 40px;
            }
        }
    }
}