.shoping-cart {
    display: flex;
    flex-wrap: wrap;
    padding-top: 96px;

    &__list {
        padding-bottom: 72px;
    }

    &__item {
        display: flex;
        margin-bottom: 40px;
        -webkit-box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);
        -moz-box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);
        box-shadow: 15px 9px 21px 0px rgba(117, 117, 117, 0.33);

        &-wrapper {
            width: 390px;
            position: relative;
            padding-left: 31px;
        }

        &-header {
            @include font-tt(24px, 400, 29px, uppercase);
            padding-top: 22px;
            padding-bottom: 42px;
            width: 200px;
        }

        &-price {
            @include font(22px, 400, 26px);
            color: $color-content;

            span {
                color: $color-pink;
            }

            padding-bottom: 6px;
        }

        &-color {
            @include font(22px, 400, 26px);
            color: $color-content;
            padding-bottom: 6px;
        }

        &-size {
            @include font(22px, 400, 26px);
            color: $color-content;
            padding-bottom: 6px;
        }

        &-quantity {
            @include font(22px, 400, 26px);
            color: $color-content;

            span {
                width: 43px;
                height: 24px;
                border: 1px solid $background-content;
                padding: 1px 16px 1px 16px;
                margin-left: 24px;
            }
        }

        &-cross {
            position: absolute;
            @include font(36px, 700, 36px);
            color: $color-content;
            left: 350px;
            top: 16px;
        }

    }

    .shoping-form {
        margin-left: 120px;

        &__list {
            width: 360px;
        }

        &__header {
            @include font-tt(16px, 300, 19px, uppercase);
            display: block;
            padding-bottom: 20px;
        }

        &__input {
            width: 360px;
            height: 45px;
            border: 1px solid $light-gray;
            margin-bottom: 21px;

            &:focus {
                border: 1px solid $color-pink;
            }
        }

        .get-a-quote {
            @include font-tt(11px, 300, 13px, uppercase);
            color: $light-gray;
            padding: 9px 14px 12px 15px;
            border: 1px solid $light-gray;
            margin-bottom: 72px;
        }

        .proceed-to-checkout {
            width: 360px;
            height: 214px;
            background-color: $background-cart;
            padding: 39px 34px 42px 44px;

            .sub-total {
                @include font-tt (11px, 400, 13px, uppercase);
                text-align: right;
                margin-bottom: 12px;
            }

            .grand-total {
                @include font-tt (16px, 300, 19px, uppercase);
                text-align: right;

                span {
                    font-weight: 700;
                    color: $color-pink;
                    padding-left: 15px;
                }
            }

            .separator {
                background: $background-sprt;
                font-size: 1px;
                height: 1px;
                overflow: hidden;
                margin: 21px 8px 17px 0;
            }

            &__button {
                @include font-tt(16px, 300, 17px, uppercase);
                background-color: $color-pink;
                color: $color-white;
                width: 273px;
                height: 50px;

                &:hover {
                    background-color: $color-white;
                    color: $color-pink;
                    cursor: pointer;
                    border: 1px solid $color-pink;
                }
            }
        }
    }

    .shoping-cart__bottons {
        margin-bottom: 128px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        @include font-tt(14px, 300, 16px, uppercase);
        border: 1px solid $light-gray;
        padding: 16px 41px 15px 38px;

        &:hover {
            background-color: $color-pink;
            color: $color-white;
            border: 1px solid $color-white;
            cursor: pointer;
        }
    }
}

@media(max-width: $desktop-width) {
    .shoping-cart {
        width: 96%;
        margin: 0 auto;
        @include flex-column-center;

        &__wrp {
            @include flex-column-center;
        }

        .shoping-form {
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            max-width: none;

            .proceed-to-checkout {
                margin-top: 40px;
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .shoping-cart {
        width: 95%;

        .shoping-form {
            &__list {
                width: 360px;
            }

            margin: 0 auto;
            display: flex;
            flex-direction: column;
            max-width: none;
        }
    }
}