.stock {
    margin-top: 64px;

    &__list {
        @include flex-wrap-space-between;
    }

    &__item-container {
        @include flex-column-center;
    }

    &__item-name {
        @include font-tt(16px, 400, 19px, uppercase);
        color: $color-white;
    }

    &__item-category {
        @include font-tt(24px, 700, 29px, uppercase);
        color: $color-pink;
    }
}

.stock__item:first-child {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/women.png");
    height: 260px;
    width: 360px;
    padding-top: 110px;
}

.stock__item:nth-child(2) {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/men.png");
    height: 260px;
    width: 360px;
    padding-top: 110px;
}

.stock__item:nth-child(3) {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/kids.png");
    height: 260px;
    width: 360px;
    padding-top: 110px;
}

.stock__item:last-child {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/accesories.png");
    height: 180px;
    width: 1140px;
    margin-top: 30px;
    padding-top: 65px;
}

@media(max-width: $desktop-width) {
    .stock {
        margin-top: 20px;
    }

    .stock .stock__list {
        justify-content: space-evenly;
    }

    .stock .stock__item {
        width: 31.5%;
        justify-content: center;
    }

    .stock .stock__item:last-child {
        display: flex;
        min-width: 97%;
        margin-top: 19px;
    }
}

@media(max-width: $tablet-width) {
    .stock {
        margin-top: 20px;
    }

    .stock .stock__list {
        @include flex-column-center;
    }

    .stock .stock__item {
        width: 91.5%;
        display: flex;
        justify-content: center;
    }

    .stock .stock__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .stock .stock__item:last-child {
        display: flex;
        flex-grow: 4;
        align-items: center;
        height: 111px;
        background-size: 700px auto;
        min-width: 0;
        margin-top: 0;
        padding: 0;
    }
}